body {

    font-family: 'Franklin Gothic', Arial;

    
}

p {

    margin: 0px;
} 

a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

a:hover {

    text-decoration: underline;
    cursor: pointer;
}


